body {
  font-family: Arial, sans-serif;
  background-color: #e5ddd5;
  margin: 0;
  padding: 20px;
}
form {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#login {
  margin-bottom: 10px;
  text-align: center;
}

#chat-container {
  max-width: 600px;
  margin: auto;
}
h2 {
	text-align: center;
}
#chat-box {
  background: #fff;
  height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 5px 0;
}

.sender-name {
  font-size: 11px;
  font-weight: bold;
  color: #555;
  margin-bottom: 3px;
}

.message-text,
.file-bubble {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
}


.message.me,.file-bubble {
  align-self: flex-end;
  text-align: right;
}
.message.me .sender-name {
  text-align: right;
}
.message.me .message-text,
.message.me .file-bubble {
  background-color: #dcf8c6;
  align-self: flex-end;
}


.message.other, .file-bubble {
  align-self: flex-start;
  text-align: left;
}
.message.other .sender-name {
  text-align: left;
}
.message.other .message-text,
.message.other .file-bubble {
  background-color: #f1f0f0;
  align-self: flex-start;
}


.file-bubble a {
  color: #007bff;
  text-decoration: none;
}
